form {
	margin-top: 10px;
}

label {
	font-size: 16px;
	width: 150px; 
	display: block; 
	text-align: right;
	margin-right: 10px;
	margin-top: 8px;
	margin-bottom: 8px;
}

input {
	width: 350px;
	border: 1px solid #666; 
	border-radius: 5px; 
	padding: 4px; 
	font-size: 16px;
}

select {
	width: 100px;
	border: 1px solid #666; 
	border-radius: 5px; 
	padding: 4px; 
	font-size: 16px;
}

textarea {
	width: 350px;
	border: 1px solid #666; 
	border-radius: 5px; 
	padding: 4px; 
	font-size: 16px;
}

.save {
	font-weight: bold;
	width: 130px; 
	padding: 5px 10px; 
	margin-top: 30px;
	margin-right: 50px;
	background: #cccccc;
	text-align: center;
}

.cancel {
	font-weight: bold;
	width: 115px; 
	padding: 5px 10px; 
	margin-top: 30px;
	margin-left: 35px;
	background: #cccccc;
	text-align: center;
}

login-label {
	font-size: 16px;
	width: 430px; 
	margin-top: 8px;
	margin-bottom: 8px;
	margin-right: 8px;
	display: flex;
  	flex-direction: row;
  	justify-content: flex-end;
}

.login-input {
	width: 200px;
	border: 1px solid #666; 
	border-radius: 5px; 
	font-size: 16px;
	margin-left: 10px;
	flex: 0 0 200px;
}

#login-button {
	font-weight: bold;
	width: 130px;
	margin-top: 30px;
	background: #cccccc;
	text-align: center;
}

table {   
	border-style:none;
	width:50%;
}

tr:nth-child(even) {background: #FFFFFF}
tr:nth-child(odd) {background: #FFFFFF}

tr {
	border-style: none;
	text-align: left;	
}

#fields_note {
	color: red;
	font-size: 13px;
	font-style: italic;
}